<!-- <div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/sign-in']"><mat-icon>add</mat-icon></a>
</div> -->
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button [routerLink]="['/sign-in']" mat-menu-item>
      <mat-icon>assignment_ind</mat-icon>
      <span>Sign In</span>
    </button>
    <button [routerLink]="['/stats']" mat-menu-item>
      <mat-icon>bar_chart</mat-icon>
      <span>Ranking</span>
    </button>
    <!-- <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button> -->
  </mat-menu>
<form [formGroup]="boardsForm" (ngSubmit)="onFormSubmit(boardsForm.value)" *ngFor="let data of dataSource">
      <h2>{{data.question}} ({{data.points}} points)</h2>
        <mat-radio-group class="example-radio-group" formControlName="chosenAnswer">
            <mat-radio-button class="example-radio-button" *ngFor="let answer of data.answers" [value]="answer">
              {{answer}}
            </mat-radio-button>
          </mat-radio-group>
        <div class="button-row" *ngIf="us.getStatus() | async">
          <button type="submit" mat-fab color="primary"><mat-icon>how_to_vote</mat-icon></button>
        </div>
      </form>


      <!-- <table mat-table #table [dataSource]="users">

          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" class="title-col"> {{element.username}} </td>
          </ng-container>
      
          <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Points </th>
            <td mat-cell *matCellDef="let element"> {{element.points}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->


<div style="display: block">
  <canvas mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>
</div>